<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>Welcome</div>
  <div sec:authorize="isAuthenticated()">
      <a th:href="@{/logout}">LogOut</a>
  </div>
  <div sec:authorize="isAuthenticated()">principalName: <p th:text="${principalName}">인가 받은 클라이언트</p></div>
  <div sec:authorize="isAuthenticated()">clientName: <p th:text="${clientName}">인가 받은 클라이언트</p></div>
  <div sec:authorize="isAuthenticated()">accessToken: <p th:text="${accessToken}">인가 받은 클라이언트</p></div>
  <div sec:authorize="isAuthenticated()">refreshToken: <p th:text="${refreshToken}">인가 받은 클라이언트</p></div>
</body>
</html>